image: webhippie/mongodb:latest
manifests:
  -
    image: webhippie/mongodb:latest-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: webhippie/mongodb:latest-arm64v8
    platform:
      architecture: arm64
      os: linux
      variant: v8
  -
    image: webhippie/mongodb:latest-arm32v7
    platform:
      architecture: arm
      os: linux
      variant: v7
